.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 15px;
}

.listWrapper {
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.wrapperBox {
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
}

.wrapperSpan {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
