img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  padding: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
